    </div>

    
    <script src="<%= host %>js/microBlog.js"></script>
     <hr /> 
      <footer> 
        <p><a href="#" target="_blank">by Dylan</a> 2014</p> 
      </footer>
</body>
</html>
