<% include header%>
<div class="banner">
    <h1>欢迎来到Microblog</h1>
    <p>Microblog是一个基于node.js的微博系统</p>
    <p>
        <a class="btn btn-primary" href="/users/login">登陆</a>
        <a class="btn" href="/users/reg">立即注册</a>
    </p>
</div>

<% include post %>

<% include footer%>

