<% include header %>

<form method="post" action="/post" class="form-inline" style="text-align:center;">     
    <input type="text" class="input-text span7" name="post"> 
    <button type="submit" class="btn btn-success">
        <i class="icon-comment icon-white"></i>发言
    </button>     
</form> 


<% include post %>


<% include footer %>